<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Arma3 Player Notify</title>
    
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="iconfont.css">

    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="script.js"></script>

</head>
<body class="apn">                
    {{{body}}}
</body>
</html>