<div class="division division_fullwidth"> 
  <div class="page_title">
      <h1>Error</h1>
  </div>
</div>
<div class="division"> 
  <h2>{{error.status}}</h2>
  <h2>{{error.stack}}</h2>
</div>
<div class="division">
  {{#if message}}<div>{{message}}</div>{{/if}}
</div>
