<div class="division page_title">
  <h2>Welcome to CrazyFluffyPony's</h2>
  <h1>Arma3 Player Notify</h1>
</div>
<div class="division">
    <div class="notifier_container">
        <div class="notifier_setup">
            <div>
                <label>Server IP/Domain</label><input type="text" value="144.76.82.169" name="notifier_server_ip" class="notifier_server_ip">
            </div>
            <div>
                <label>Server Port</label><input type="number" value="2302" name="notifier_server_port" class="notifier_server_port">
            </div>
            <div>
                <button class="notifier_connect">Connect</button>
            </div>
        </div>
        <div class="notifier_view">
            <span class="refresh_fail"></span>
            <div class="server_info">
                <div class="server_name"></div>
                <span class="player_count"></span>
            </div>
            <div class="player_list"></div>
        </div>
        <div class="players_left_container" style="display: none;">
            <div class="players_left">
            </div>
        </div>
        <div class="error" style="display: none;">
            <div class="message"></div>
        </div>
    </div>
</div>