@font-face {
    font-family: "Army Rust";
    src: url("army_rust.ttf");
}


body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Army Rust', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 0.05em;
}

body, * {
    box-sizing: content-box;
}

.page_title {
    background: linear-gradient(15deg, #b08d6a 0%, #c6c9bd 50%, #93b06a 100%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page_title h1 {
    font-size: 36px;
    margin: 0.5em 0 0 0;
}

.page_title h2 {
    font-size: 24px;
    margin: 0;
}

.division {
    padding: 20px 40px;
}

button {
    font-family: 'Army Rust', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 0.05em;
    cursor: pointer;
    background: #b08d6a;
    border: 1px solid #c6c9bd;
    border-radius: 2px;
    padding: 3px 18px;
    transition: all 0.2s ease 0s;
}

button:hover {
    background: #93b06a;
}

input {
    font-family: 'Army Rust', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 110%;
    letter-spacing: 0.05em;
    padding: 3px 6px;
    border: 1px solid #93b06a;
    border-radius: 2px;
    transition: all 0.2s ease 0s;
}

input:focus, input:hover {
    background: #b08d6a44;
}


/* notify */

.notifier_container {
    position: relative;
    display: inline-block;
}

.notifier_container .notifier_setup {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.notifier_container .notifier_setup label {

}

.notifier_container .notifier_setup input {
    margin: 0 0 0.5em 0.5em;
}

.notifier_container .notifier_view {
    position: relative;
    z-index: 2;
    background: #c6c9bd;
}

.notifier_container .notifier_view .refresh_fail {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    width: 1.6em;
    height: 1.6em;
    background: url('disconnected-icon.png');
    background-size: 100%;
}

.notifier_container .notifier_view .server_info {
    padding: 0.4em 1em 0.4em 0.4em;
}

.notifier_container .notifier_view .server_name {
    font-size: 2em;    
}

.notifier_container .notifier_view .player_count {
    font-size: 1.5em;
    color: #540d0d;
}

.notifier_container .notifier_view .player_list {
    display: flex;
    flex-direction: column;
}

.notifier_container .notifier_view .player {
    padding: 0.2em 2em 0.2em 0.2em;
}

.notifier_container .notifier_view .player:nth-of-type(2n-1) {
    background: #9ea097;
}

.notifier_container .notifier_view .player.watched {
    background: #93b06a;
}

.notifier_container .notifier_view .player.watched:nth-of-type(2n-1) {
    background: #758c54;
}

.notifier_container .notifier_view .player .watch, .notifier_container .notifier_view .player .unwatch {
    position: absolute;
    right: 0.5em;
}

.notifier_container .notifier_view .player .unwatch {
    color: #e3d018;    
}


.notifier_container .players_left_container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fffa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.notifier_container .players_left {
    padding: 5em;
    background: linear-gradient(15deg, #b5a613 0%, #e3d018 100%);
    box-shadow: 0px 0px 3px 3px #e3d018aa;
    color: #000;
    font-size: 130%;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.notifier_container .players_left > span {
    margin-bottom: 0.2em;
}

.notifier_container .players_left .left {
    font-size: 60%;
}

.notifier_container .error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5em;
    background: #bf2424;
    color: #fff;
    z-index: 4;
}
